<!DOCTYPE html>
<html>
    

    <body>
        <h1>Welcome to gitpub</h1>
        <style>
            body {
                background-color: lightgray;
                color:black;
            }
        </style>
        <h2>Drinks</h2>
      <ul>
        <% for(let i = 0; i < allDrinks.length; i++) { %>
            <li>
                <a href="/drinks/<%=i%>"><%=allDrinks[i].name %></a>
            </li>    
            <% } %>

        
      </ul>
      <%- include("./food_index.ejs", {allFood})%>
    </body>
</html>

<!-- remember to capitalize the names of each drink -->