<!DOCTYPE html>
<html>
   
    <body>
        <h1>At foo bar</h1>

    
        <h2><%=drink.name; %></h2>

        <img <%=drink.image; %>>

        <h3><%=drink.price; %></h3>
    
    

        <a href="/drinks"><button>Back</button></a>


        <style>
            body {
                background-color: lightgray;
                color:black;
            }
        </style>
    
    </body>
</html>