<!DOCTYPE html>
<html>
    

    <body>
        <h1>Welcome to gitpub</h1>
        <style>
            body {
                background-color: lightgray;
                color:black;
            }
        </style>
        <h2>Drinks</h2>
      <ul>
        <% for(let i = 0; i < allDrinks.length; i++) { %>
            <% const drink = allDrinks[i] %>
            <% const drinkName = drink.name %>
            <% const cap = drinkName.charAt(0).toUpperCase() + drinkName.slice(1)%>
            <li>
                <a href="/drinks/<%=i%>"><%=cap%></a>
            
            </li>    
            <% } %>

        
      </ul>
      <%- include("./food_index.ejs", {allFood})%>
    </body>
</html>

<!-- remember to capitalize the names of each drink -->