<!DOCTYPE html>
<html>
   
    <body>
        <h1>Welcome to gitpub</h1>
        <style>
            body {
                background-color: lightgray;
                color:black;
            }
        </style>
      
    </body>
</html>