<h2>Food</h2>
<ul>
    <% for(let i = 0; i < allFood.length; i++) { %>
        
        <li>
            <a href="/food/<%=i%>"><%=allFood[i].name %></a>
        </li>    
        <% } %>

        
  </ul>